@import '_setting.scss';

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;

$list-bg-cl: #ebecf0;

.board_columns {
    display: flex;
    margin: 0 $gap $gap ;
    overflow-x: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: $gap;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lighten($board-bg-cl, 15);
      border-radius: 5px;
    }

    .column {
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});
      margin-left: $gap;

      >* {
        background-color: $list-bg-cl;
        color: #333;
        padding: 0 8px;

      }

      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
      }

      footer {
        padding-left: $gap;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-size: 14;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
      }

      ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: scroll;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
          width: $gap;
        }

        &::-webkit-scrollbar-thumb {
          background-color: darken($list-bg-cl, 15);
          border-right: 5px solid $list-bg-cl;
        }

        li {
          background-color: white;
          padding: $gap;
          border-radius: $card-border-radius;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

          &:not(:last-child) {
            margin-bottom: $gap;
          }

          img {
            display: block;
            width: calc(100% + 2 * #{$gap});
            margin: -$gap 0 $gap (
              -$gap
            );
          border-top-left-radius: $card-border-radius;
          border-top-right-radius: $card-border-radius;
        }

      }
    }
  }
}