@import '_setting.scss';

.board_conten {
  height: $board-content-height;
  display: flex;
  margin: 0 $gap $gap ;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: $gap;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($board-bg-cl, 15);
    border-radius: 5px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }

  .add-new-column {
    flex: 0 0 auto;
    width: 250px;
    max-width: 250px;
    line-height: $column-header-height;
    padding: 4px 0px 4px 15px;
    font-size: 16;
    font-weight: bold;
    margin-left: $gap;
    border-radius: $column-border-radius;
    cursor: pointer;
    color: white;
    background-color: hsla(0, 0%, 100%, .24);
    &:hover {
      background-color: hsla(0, 0%, 100%, .34);
  }
  }

  .enter-new-column {
    flex: 0 0 auto;
    width: 250px;
    max-width: 250px;
    background-color: $list-bg-cl;
    padding: 4px 10px;
    margin-left: $gap;
    border-radius: $column-border-radius;

    input.input-new-column {
      margin: 5px 0;
    }
    .cancel-new-column{
      margin-left: $gap;
      font-size: 18px;
      cursor: pointer;
      color: #ee5253;
      &:hover {
        color: darken($color: #ee5253, $amount: 10);
      }
    }
  }

}